$black-2: #18171f;
$green: #a2f7ae;
$grey-light: #e6e5ea;

// Input range thumb styles
@mixin range-thumb {
    appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: $grey-light;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    right: -1px;
    z-index: 1;

    &:hover {
        background: $black-2;
        border: 2px solid $green;
    }

    @media (min-width: 768px) {
        height: 28px;
        width: 28px;
    }
}
