@import "./font";
$body-font: 'JetBrains Mono', monospace;

$black: #121117; // main bg
$black-2: #18171f; // "Strength" bg, range bg
$green: #a2f7ae; // btn, character num, copy icon
$grey: #878495; // Title, "Strength"
$grey-dark: #58575f; // Generated password
$grey-light: #e6e5ea; // font colour
$grey-v-dark: #24232b; // form bg

* {
    box-sizing: border-box;
}

body {
    background-color: $black;
    font-family: $body-font;
    margin: 0;
    padding: 0;
}

.App {
    align-items: center;
    color: $grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100vw;

    main {
        max-width: 540px;
        width: 100%;
        
        h1 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1;
            margin: 0 0 2.25rem;
            text-align: center;
        }

        .password {
            background-color: $grey-v-dark;
            margin-bottom: 1.25rem;
            padding: 1.25rem 2rem;
            position: relative;

            &__text {
                color: $grey-dark;
                font-size: 2rem;
                font-weight: 500;
                margin: 0;

                &--grey {
                    color: $grey-light;
                }
            }

            &__copy {
                background-color: transparent;
                border: none;
                border-radius: 0;
                cursor: pointer;
                position: absolute;
                right: 2rem;
                top: 0;
                transform: translateY(80%);

                &:hover {
                    svg path {
                        fill: $grey-light;
                    }
                }

                svg {
                    display: inline-block;
                    width: 1.5rem;

                    path {
                        fill: $green;
                    }
                }
            }
        }

        form {
            background-color: $grey-v-dark;
            color: $grey-light;
            padding: 2rem;

            input,
            button {
                font-family: $body-font;
            }

            .checkbox-field {
                margin-bottom: 1.375rem;

                &__input,
                &__label {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                }

                &__input {
                    -webkit-appearance: none;
                    appearance: none;
                    border: 2px solid $grey-light;
                    height: 22px;
                    margin: 0;
                    width: 22px;

                    &:checked {
                        background: $green url('../images/check.svg') center no-repeat;
                        background-size: 32px 32px;
                        border-color: $green;
                    }

                    &:hover {
                        border-color: $green;
                    }
                }

                &__label {
                    font-size: 17px;
                    margin-left: 1.25rem;
                }
            }

            .length {
                margin-bottom: 2rem;
                position: relative;

                &__label {
                    display: block;
                    font-size: 18px;
                    line-height: 2rem;
                    margin-bottom: 1.5rem;
                }

                &__input-track-left {
                    background-color: $green;
                    bottom: 5px;
                    display: inline-block;
                    height: 6px;
                    left: 0;
                    position: absolute;
                }

                &__input {
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: $black-2;
                    cursor: pointer;
                    display: inline-block;
                    height: 6px;
                    margin: 0;
                    width: 100%;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        height: 28px;
                        width: 28px;
                        border-radius: 50%;
                        background: $grey-light;
                        cursor: pointer;
                        margin-top: 0;
                        position: relative;
                        right: -1px;
                        z-index: 1;

                        &:hover {
                            background: $black-2;
                            border: 2px solid $green;
                        }
                    }

                    &::-moz-range-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        height: 28px;
                        width: 28px;
                        border-radius: 50%;
                        background: $grey-light;
                        cursor: pointer;
                        margin-top: 0;
                        position: relative;
                        right: -1px;
                        z-index: 1;

                        &:hover {
                            background: $black-2;
                            border: 2px solid $green;
                        }
                    }

                    &::-ms-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        height: 28px;
                        width: 28px;
                        border-radius: 50%;
                        background: $grey-light;
                        cursor: pointer;
                        margin-top: 0;
                        position: relative;
                        right: -1px;
                        z-index: 1;

                        &:hover {
                            background: $black-2;
                            border: 2px solid $green;
                        }
                    }
                }

                &__value {
                    color: $green;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .strength {
                align-items: center;
                background-color: $black-2;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                line-height: 1;
                margin: 2rem 0;
                padding: 1.75rem 2rem;

                &__title {
                    color: $grey;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    text-transform: uppercase;
                }

                &__status {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__label {
                    display: inline-block;
                    margin-right: 1rem;
                    text-transform: uppercase;
                    width: fit-content;
                }

                .strength-meter {
                    &__bar {
                        background-color: transparent;
                        border: 2px solid $grey-light;
                        display: inline-block;
                        height: 28px;
                        margin-left: .5rem;
                        width: 9px;

                        &.strong {
                            background-color: limegreen;
                            border-color: limegreen;
                        }

                        &.medium {
                            &:nth-child(-n + 3) {
                                background-color: orange;
                                border-color: orange;
                            }
                        }

                        &.weak {
                            &:nth-child(-n + 2) {
                                background-color: orange;
                                border-color: orange;
                            }
                        }

                        &.very-weak {
                            &:first-child {
                                background-color: #cf2727;
                                border-color: #cf2727;
                            }
                        }
                    }
                }
            }

            .generate {
                background-color: $green;
                border: 2px solid $green;
                color: $black;
                cursor: pointer;
                display: inline-block;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 1;
                padding: 1.25rem;
                text-transform: uppercase;
                transition: all .25s ease-in-out;
                width: 100%;

                &:hover {
                    background-color: transparent;
                    color: $green;

                    svg polygon {
                        fill: $green;
                    }
                }

                svg {
                    display: inline-block;
                    height: auto;
                    margin: 0 0 -4px 1.75rem;
                    width: 18px;

                    polygon {
                        fill: $black;
                        transition: all .25s ease-in-out;
                    }
                }
            }
        }
    }
}
