@import './mixins';

$green: #a2f7ae;
$grey-light: #e6e5ea;
$orange: #f6cd69;
$red: #dd4c4c;

main {
    .password__copy:hover {
        svg path {
            fill: $grey-light;
        }
    }

    form {
        input[type=checkbox]:checked {
            background-image: url('../images/check.svg');
        }

        .length__input::-webkit-slider-thumb {
            @include range-thumb;
        }

        .length__input::-moz-range-thumb {
            @include range-thumb;
        }

        .length__input::-ms-thumb {
            @include range-thumb;
        }

        .strength .strength-meter__bar.strong {
            background-color: limegreen;
            border-color: limegreen;
        }

        .strength .strength-meter__bar.medium:nth-child(-n + 3),
        .strength .strength-meter__bar.weak:nth-child(-n + 2) {
            background-color: $orange;
            border-color: $orange;
        }

        .strength .strength-meter__bar.very-weak:first-child {
            background-color: $red;
            border-color: $red;
        }

        .generate:hover {
            svg polygon {
                fill: $green;
            }
        }
    }
}
