$body-font: 'JetBrains Mono', monospace;

$green: #a2f7ae;
$grey-v-dark: #24232b; // form bg
$white: #fff;

.attribution {
    background-color: $grey-v-dark;
    color: $white;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 2rem 0 0;
    text-align: center;
    
    @media (min-width: 768px) {
        bottom: 1.5rem;
        margin-top: 0;
        position: fixed;
        right: 1.5rem;
    }
    
    & > div {
        margin: 0 auto;
        padding: 1rem;

        br {
            display: none;

            @media (min-width: 768px) {
                display: inline;
            }
        }
    }
    
    a {
        color: $green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
